rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /suggestions/{docId} {
      allow create: if request.auth == null;
      allow read, update, delete: if request.auth != null && request.auth.token.email == "admin@vnrvjiet.ac.in";
    }
  }
}
